<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="bankingForm" >
        <input name="amount" id="amount" type="text">

        <select name="transType" id="transType">
            <option value="checking/deposit">Checking</option>
            <option value="savings/deposit">Savings</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    
</body>

</html>